amqp==2.6.1
attrs==21.2.0
cloudpickle==2.0.0
importlib-metadata==4.8.1
iniconfig==1.1.1
kombu==4.6.11
loky==2.9.0
-e git+ssh://git@github.com/Mendes11/micro_framework.git@34fa262e9d56de4e5689c9c912f4758ff39b4070#egg=micro_framework
packaging==21.0
pluggy==1.0.0
prometheus-client==0.8.0
psutil==5.8.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-asyncio==0.15.1
pytest-mock==3.6.1
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
vine==1.3.0
websocket-client==0.59.0
websockets==8.1
zipp==3.5.0
